@charset "utf-8";
.header0 {
	width: auto;
	height: 60px;
	background-color: #393D49;
}

.logo {
	float: left;
	padding: 10px 0 0 20px;
}

.header1 {
	float: left;
	margin-left: 240px;
}

.header1 ul li {
	margin-left: 20px;
}

.header3 {
	float: right;
}