@charset "utf-8";
.header0 {
	width: auto;
	height: 60px;
	background-color: #393D49;
}

.logo {
	float: left;
	padding: 10px 0 0 20px;
}

.header1 {
	float: left;
	margin-left: 240px;
}

.header1 ul li {
	margin-left: 20px;
}

.header3 {
	float: right;
}
.footer{
	    float:left;
		background-color:#393D49;
		width:1200px;
		align:center;
		margin:auto;
		height:55px;
		margin-top:20px;
	}